@media (max-width: 991px) {
  .navbar__menu {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    color: #fff;
    background: transparent;
    padding: 20px;
    z-index: 1000000;
    cursor: pointer;
    margin-right: -20px;
  }

  .navbar__links {
    position: fixed;
    height: 100vh;
    font-size: 18px;
    justify-content: space-evenly;
    right: 0;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease;
    background: #000;
    color: #000;
  }

  .navbar__link {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar__link a {
    padding-left: 200px;
    padding-right: 200px;
    background-color: black;
  }

  .one {
    clip-path: inset(0 0 0 100%);
  }

  .two {
    clip-path: inset(0 0 0 0);
  }
  .switch {
    margin-left: 0px;
  }

  .navbar__link--separator {
    display: none;
  }

  section {
    padding: 75px 0;
  }

  .home {
    flex-direction: column;
  }

  .home__profile {
    margin-top: 35px;
    margin-bottom: 5px;
    margin-right: 0;
  }

  .home__title {
    font-size: 35px;
  }

  .home__title--primary,
  .home__title--secondary {
    font-size: 30px;
  }

  .section__title {
    font-size: 25px;
  }

  .section__title:after {
    width: 110px;
    height: 3px;
  }

  .section__subtitle {
    font-weight: normal;
  }

  .about__description {
    padding-right: 0px;
  }

  .about__grid {
    grid-template-columns: 1fr;
  }

  .skill__title {
    grid-column: span 4;
  }

  .about__skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .button--cta {
    margin-bottom: 30px;
  }

  .services__item {
    padding: 15px;
  }

  .services__item h3 {
    margin-bottom: 5px;
  }

  .services__grid,
  .portfolio__grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .flex-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .form__input {
    width: 90%;
  }

  .form__buttons {
    display: flex;
    flex-direction: column;
  }

  .form__button {
    width: 30%;
    background-color: #777;
    color: #000;
    font-weight: 600;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer__item {
    width: 100%;
    align-content: space-between;
    padding: 0px;
  }

  .container-slider {
    width: 85%;
  }

  .contact__item {
    margin: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .home__background {
    background-image: url(../img/bg-images/img-background-movile.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  .navbar__link a {
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
  }

  section {
    padding: 60px 0;
  }

  .home__profile {
    margin-bottom: 30px;
  }

  .home__title {
    font-size: 30px;
  }

  .home__title--primary,
  .home__title--secondary {
    font-size: 25px;
  }

  .skill__title {
    grid-column: span 3;
  }

  .about__skills {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skill__item {
    font-size: 50px;
    padding: 5px;
    min-width: 75px;
  }

  .services__grid,
  .portfolio__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .contact__grid {
    grid-template-columns: 1fr 1fr;
  }

  .contact__item {
    padding: 18px;
    border-radius: 10px;
    transition: all 0.3s;
  }

  .loader2__img {
    width: auto;
    height: 90%;
  }
}

@media (max-width: 480px) {
  .form__button {
    width: 50%;
  }

  .navbar__link a {
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
  }

  .footer__item--copyright {
    display: block;
    color: #ccc;
    width: 100%;
    font-weight: 800;
  }
  .footer-copyright--logo {
    width: 60%;
  }
  .container-slider {
    width: 100%;
  }

  .loader2__img {
    width: 90%;
    height: auto;
  }

  .enter-count {
    color: white;
    position: fixed;
    top: 5%;
  }
}

@media (max-width: 360px) {
  .navbar__logo {
    font-size: 20px;
  }
}
